* {
    margin: 0;
    padding: 0;
    font-family: "PorscheNext-SemiBold";
    box-sizing: border-box;
    color: black;
}
.nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 30px;
    z-index: 10;
    .navbar {
        label{
            display: none;
        }
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .logo {
            img {
                width: 10rem;
            }
        }
        .content {
            display: flex;
            width: 50%;
            color: white;
            justify-content: space-between;
            .nav-content {
                cursor: pointer;
                display: inline;
                font-size: 1.15rem;
            }
            .container {
                display: none;
                background-color: white;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                justify-content: center;
                width: 100%;
                left: 0;
                top: 0;
                position: absolute;
                z-index: -1;
                padding: 20px 70px;
                padding-top: 75px;
                animation: fromTop 0.3s ease-in-out;
            }
            .models {
                .model-container {
                    bottom: -29rem;
                    padding-top: 65px;
                    .car-brand {
                        text-decoration: none;
                        padding: 10px;
                        display: flex;
                        flex-direction: column;
                        img {
                            width: 70%;
                            align-self: center;
                            transition: 0.2s ease-out;
                        }
                        .name {
                            font-size: 2rem;
                        }
                        .type {
                            font-size: 1rem;
                            display: flex;
                            gap: 1rem;
                            .box {
                                margin-top: 5px;
                                color: black;
                                padding: 4px 7px;
                                background-color: #d0c4c4;
                                border-radius: 5px;
                                width: 4rem;
                                text-align: center;
                            }
                        }
                    }
                    .car-brand:hover {
                        background-color: rgba(255, 255, 255, 0.338);
                        backdrop-filter: blur(30px);
                        border-radius: 10px;
                        img {
                            transform: translateX(5%);
                        }
                    }
                }
            }
            .models:hover {
                .model-container {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 1.5rem;
                    row-gap: 1.5rem;
                    justify-content: center;
                    align-items: center;
                }
            }
            .trio {
                .trio-container {
                    bottom: -26.5rem;
                    gap: 8rem;
                    .image-container {
                        position: relative;
                        img {
                            border-radius: 5px;
                            width: 267px;
                            height: 375px;
                        }
                        p {
                            position: absolute;
                            top: 1%;
                            left: 4%;
                            font-size: 1.6rem;
                            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
                            color: white;
                        }
                    }
                }
            }
            .trio:hover {
                .trio-container {
                    display: flex;
                }
            }
        }
    }
}
@keyframes fromTop {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}

.header{
    margin-top: 5rem;
    padding: 0% 4.5%;
}

.Contract-Plan {
    width: 90%;
    margin-top: 5rem;
    margin: 0 auto;
    align-items: center;
}
.Discover More1{
    display: flex;
    padding: 10%;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

p {
    text-align: center;
    font-size: 1rem;
    margin-top: -0.5rem;
    margin-bottom: 2rem;
    color: rgb(88, 87, 87);
}

.Contract-Plan img {
    margin-bottom: -0.5%;
    width: 100%;
    height: 450px;
    margin: 0 auto;
    display: block; 
    border-radius: 15px;
    } 

.part2{
    margin-top: 2rem;
    padding: 0% 4.5%;
}

.section {
    display: flex;
    padding: 3% 7%;
    justify-content: center;
    gap: 15%;
}

.section img {
        border-radius: 10px;
        width: fit-content;
        height: 100%;
        margin-top: 3.5%;
    }

    .textbody {
        /* margin-top: 1rem; */
        width: 50%;
        text-align: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: black;
        .bold {
            margin-bottom: 0.5rem;
            font-size: bold;
            color: black;
            text-align: center;
        }
    }

    .text3{
        width: 105%;
        padding: -5% -20%;
        color: rgb(88, 87, 87);
        text-align: start;
        align-items: center;
    }

    .container4 {
        align-items: center;
        width: 650px;
        margin: 5px auto;
        /* padding: 20px; */
        text-align: left;
    }
    
    h1 {
        margin-top: 2rem;
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 20px;
        color: #000;
    }
    
    ul {
        list-style-type: disc;
        padding-left: 40px; 
    }
    
    ul li {
        margin-bottom: 15px;
    }
    
    p {
        margin-top: 20px;
        font-size: 0.9rem;
        color: #555;
    }

    .footer {
        background-color: black;
        color: white;
        padding: 0px 60px;
        i, a, p, label {
            color: white;
        }
        .title {
            font-size: 1.3rem;
            margin: 12px 0px;
            color: white;
        }
        .info-01 {
            display: flex;
            gap: 9rem;
            .location-contact {
                .contact {
                    margin-top: 2rem;
                }
            }
            .social-media {
                width: 50%;
                .info {
                    margin: 8px 0px;
                }
                .media {
                    a {
                        margin: 0px 4px;
                        text-align: center;
                        i {
                            padding: 11px 0px;
                            background-color: white;
                            color: black;
                            border-radius: 6px;
                            font-size: 1.2rem;
                            width: 7.5%;
                        }
                    }
                }
            }
        }
        .info-02 {
            display: flex;
            flex-direction: column;
            .link {
                display: flex;
                gap: 3.5rem;
                div {
                    display: flex;
                    flex-direction: column;
                    a {
                        margin: 5px 0px;
                    }
                }
            }
        }
        .ruler {
            width: 100%;
            background-color: rgba(149, 148, 148, 0.747);
            height: 1px;
            margin: 4rem 0rem;
        }
        .info-03 {
            .company {
                text-align: center;
                padding: 3rem 0rem;
                a {
                    margin: 40px;
                    .papan {
                        width: 22%;
                    }
                    .porsche {
                        width: 30%;
                    }
                }
            }
        }
    }
    
    @media (width <= 1080px) {
    
        .nav-bar{
            .navbar{
                label{
                    display: block;
                }
                .content{
                    display: none;
                    position: fixed;
                    width: 100%;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    padding: 30px;
                    background-color: rgb(255, 255, 255);
                    .models:hover{
                        .overflow{
                            overflow-y: hidden;
                            .model-container{
                                overflow-y: scroll;
                                grid-template-columns: repeat(1,1fr)
                            }
                        }
    
                    }
                    .container{
                    position: relative;
                    bottom: 2rem;
                    background-color: aqua;
                    }
                    
                    
                }
            }
            #check:checked ~ .content{
                display: block;
            }
        }
        .footer {
            .info-01 {
                flex-direction: column;
                gap: 3rem;
    
                .social-media {
                    width: 100%;
                }
            }
        }
    }
    